# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Poetry
poetry.lock

# IDEs
.idea/
.vscode/
*.swp

# Logs
logs/
*.log

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/
